<<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Ürün ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="mb-3">
                        <label for="colorId">Color Id</label>
                        <div class="form-group">
                            <input type="number" 
                            id="colorId" 
                            formControlName="colorId" class="form-control" 
                            placeholder="Color Id"/>
                        </div>
                    </div>
                   
                    <div class="mb-3">
                        <label for="brandId">Brand Id</label>
                        <div class="form-group">
                            <input type="number" 
                            id="brandId" 
                            formControlName="brandId" class="form-control" 
                            placeholder="Brand Id"/>
                        </div>
                    </div>

                    <form [formGroup]="carAddForm">
                        <!-- <label for="filterText2" class="form-label">Araba ara</label>
    <input type="text" [(ngModel)]="filterText2" class="form-control" id="filterText2" placeholder="Aranacak Kelime"> -->
                        <select formControlName="brandId">
                          <option *ngFor="let brand of brands" [ngValue]="brand.id">
                            {{ brand.name }}
                          </option>
                        </select>
                      </form>

                  
                       <p>Form value: {{ carAddForm.value | json }}</p>
                       <!-- {state: {name: 'New York', abbrev: 'NY'} } -->
                        

                   <div class="mb-3">
                    <label for="modelYear">modelYear</label>
                    <div class="form-group">
                        <input type="number" 
                        id="modelYear" 
                        formControlName="modelYear" class="form-control" 
                        placeholder="modelYear"/>
                    </div>
                   </div>
                    <div  class="mb-3">
                        <label for="dailyPrice">dailyPrice</label>
                        <div class="form-group">
                            <input type="number" 
                            id="dailyPrice" 
                            formControlName="dailyPrice" class="form-control" 
                            placeholder="dailyPrice"/>
                        </div>
                    </div>
                    <div  class="mb-3">
                        <label for="description">description</label>
                        <div class="form-group">
                            <input type="text" 
                            id="description" 
                            formControlName="description" class="form-control" 
                            placeholder="description"/>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
            </div>
        </div>
        
    </div>
    
</div>